<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Mar 10 20, 15:09</string>
      <string>glyphs.M_ar 10 20, 15_09</string>
    </array>
    <array>
      <string>Mar 10 20, 15:09.background</string>
      <string>glyphs.M_ar 10 20, 15_09.background</string>
    </array>
    <array>
      <string>Light Aug 12 15, 12:39</string>
      <string>glyphs.L_ight A_ug 12 15, 12_39</string>
    </array>
    <array>
      <string>Light Aug 12 15, 12:38</string>
      <string>glyphs.L_ight A_ug 12 15, 12_38</string>
    </array>
    <array>
      <string>Mar 10 20, 14:56</string>
      <string>glyphs.M_ar 10 20, 14_56</string>
    </array>
    <array>
      <string>Mar 10 20, 14:56.background</string>
      <string>glyphs.M_ar 10 20, 14_56.background</string>
    </array>
    <array>
      <string>Mar 11 20, 15:16</string>
      <string>glyphs.M_ar 11 20, 15_16</string>
    </array>
    <array>
      <string>Mar 11 20, 15:16.background</string>
      <string>glyphs.M_ar 11 20, 15_16.background</string>
    </array>
    <array>
      <string>Mar 10 20, 17:17</string>
      <string>glyphs.M_ar 10 20, 17_17</string>
    </array>
    <array>
      <string>Mar 10 20, 17:17.background</string>
      <string>glyphs.M_ar 10 20, 17_17.background</string>
    </array>
    <array>
      <string>Mar 10 20, 21:25</string>
      <string>glyphs.M_ar 10 20, 21_25</string>
    </array>
    <array>
      <string>Mar 10 20, 21:29</string>
      <string>glyphs.M_ar 10 20, 21_29</string>
    </array>
    <array>
      <string>Mar 10 20, 21:29.background</string>
      <string>glyphs.M_ar 10 20, 21_29.background</string>
    </array>
    <array>
      <string>Mar 10 20, 21:27</string>
      <string>glyphs.M_ar 10 20, 21_27</string>
    </array>
    <array>
      <string>Mar 10 20, 21:27.background</string>
      <string>glyphs.M_ar 10 20, 21_27.background</string>
    </array>
    <array>
      <string>Mar 10 20, 22:18</string>
      <string>glyphs.M_ar 10 20, 22_18</string>
    </array>
    <array>
      <string>Mar 10 20, 22:18.background</string>
      <string>glyphs.M_ar 10 20, 22_18.background</string>
    </array>
    <array>
      <string>Mar 10 20, 14:58</string>
      <string>glyphs.M_ar 10 20, 14_58</string>
    </array>
    <array>
      <string>Mar 10 20, 14:58.background</string>
      <string>glyphs.M_ar 10 20, 14_58.background</string>
    </array>
    <array>
      <string>Mar 10 20, 22:39</string>
      <string>glyphs.M_ar 10 20, 22_39</string>
    </array>
    <array>
      <string>Mar 10 20, 22:39.background</string>
      <string>glyphs.M_ar 10 20, 22_39.background</string>
    </array>
    <array>
      <string>Mar 10 20, 23:10</string>
      <string>glyphs.M_ar 10 20, 23_10</string>
    </array>
    <array>
      <string>Mar 10 20, 15:17</string>
      <string>glyphs.M_ar 10 20, 15_17</string>
    </array>
    <array>
      <string>Mar 10 20, 23:11</string>
      <string>glyphs.M_ar 10 20, 23_11</string>
    </array>
    <array>
      <string>Mar 10 20, 23:21</string>
      <string>glyphs.M_ar 10 20, 23_21</string>
    </array>
    <array>
      <string>Mar 10 20, 23:21.background</string>
      <string>glyphs.M_ar 10 20, 23_21.background</string>
    </array>
    <array>
      <string>Mar 11 20, 00:31</string>
      <string>glyphs.M_ar 11 20, 00_31</string>
    </array>
    <array>
      <string>Mar 11 20, 00:31.background</string>
      <string>glyphs.M_ar 11 20, 00_31.background</string>
    </array>
    <array>
      <string>Mar 11 20, 00:38</string>
      <string>glyphs.M_ar 11 20, 00_38</string>
    </array>
    <array>
      <string>Mar 11 20, 00:09</string>
      <string>glyphs.M_ar 11 20, 00_09</string>
    </array>
    <array>
      <string>Mar 10 20, 15:55</string>
      <string>glyphs.M_ar 10 20, 15_55</string>
    </array>
    <array>
      <string>Mar 10 20, 15:55.background</string>
      <string>glyphs.M_ar 10 20, 15_55.background</string>
    </array>
    <array>
      <string>Mar 10 20, 23:25</string>
      <string>glyphs.M_ar 10 20, 23_25</string>
    </array>
    <array>
      <string>Mar 10 20, 23:27</string>
      <string>glyphs.M_ar 10 20, 23_27</string>
    </array>
    <array>
      <string>Mar 11 20, 00:10</string>
      <string>glyphs.M_ar 11 20, 00_10</string>
    </array>
    <array>
      <string>Mar 10 20, 23:57</string>
      <string>glyphs.M_ar 10 20, 23_57</string>
    </array>
    <array>
      <string>Mar 10 20, 23:57.background</string>
      <string>glyphs.M_ar 10 20, 23_57.background</string>
    </array>
    <array>
      <string>Mar 10 20, 16:34</string>
      <string>glyphs.M_ar 10 20, 16_34</string>
    </array>
    <array>
      <string>Mar 10 20, 16:34.background</string>
      <string>glyphs.M_ar 10 20, 16_34.background</string>
    </array>
    <array>
      <string>Mar 10 20, 16:52</string>
      <string>glyphs.M_ar 10 20, 16_52</string>
    </array>
    <array>
      <string>Mar 10 20, 16:52.background</string>
      <string>glyphs.M_ar 10 20, 16_52.background</string>
    </array>
    <array>
      <string>Mar 10 20, 16:53</string>
      <string>glyphs.M_ar 10 20, 16_53</string>
    </array>
    <array>
      <string>Mar 10 20, 16:53.background</string>
      <string>glyphs.M_ar 10 20, 16_53.background</string>
    </array>
    <array>
      <string>Mar 10 20, 16:54</string>
      <string>glyphs.M_ar 10 20, 16_54</string>
    </array>
    <array>
      <string>Mar 10 20, 16:58</string>
      <string>glyphs.M_ar 10 20, 16_58</string>
    </array>
    <array>
      <string>Mar 10 20, 23:43</string>
      <string>glyphs.M_ar 10 20, 23_43</string>
    </array>
    <array>
      <string>Mar 10 20, 23:52</string>
      <string>glyphs.M_ar 10 20, 23_52</string>
    </array>
    <array>
      <string>Mar 10 20, 23:51</string>
      <string>glyphs.M_ar 10 20, 23_51</string>
    </array>
    <array>
      <string>Mar 10 20, 23:51.background</string>
      <string>glyphs.M_ar 10 20, 23_51.background</string>
    </array>
    <array>
      <string>Mar 10 20, 17:49</string>
      <string>glyphs.M_ar 10 20, 17_49</string>
    </array>
    <array>
      <string>Mar 10 20, 17:53</string>
      <string>glyphs.M_ar 10 20, 17_53</string>
    </array>
    <array>
      <string>Mar 10 20, 17:53.background</string>
      <string>glyphs.M_ar 10 20, 17_53.background</string>
    </array>
    <array>
      <string>Mar 11 20, 00:35</string>
      <string>glyphs.M_ar 11 20, 00_35</string>
    </array>
    <array>
      <string>Mar 10 20, 18:00</string>
      <string>glyphs.M_ar 10 20, 18_00</string>
    </array>
    <array>
      <string>Mar 10 20, 18:00.background</string>
      <string>glyphs.M_ar 10 20, 18_00.background</string>
    </array>
    <array>
      <string>Mar 10 20, 17:43</string>
      <string>glyphs.M_ar 10 20, 17_43</string>
    </array>
    <array>
      <string>Mar 10 20, 17:43.background</string>
      <string>glyphs.M_ar 10 20, 17_43.background</string>
    </array>
    <array>
      <string>Mar 10 20, 15:25</string>
      <string>glyphs.M_ar 10 20, 15_25</string>
    </array>
    <array>
      <string>Mar 10 20, 15:25.background</string>
      <string>glyphs.M_ar 10 20, 15_25.background</string>
    </array>
    <array>
      <string>Mar 11 20, 15:47</string>
      <string>glyphs.M_ar 11 20, 15_47</string>
    </array>
    <array>
      <string>Mar 11 20, 15:47.background</string>
      <string>glyphs.M_ar 11 20, 15_47.background</string>
    </array>
  </array>
</plist>
